/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/




/********      Background Image ****************/

body, html {
	height: 100%;
	width: 100%;

}

body {
	padding: 21px;

}

.bg {
	background-image: url(https://external-preview.redd.it/8gm7asD76oORfEVH7mGJMaKi4WijCB9bGmziVz-BBJE.jpg?width=960&crop=smart&auto=webp&s=cab4f48c6dba9881bcdeb0b1dc74e0109cf5da1f);
	height: %100;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.headers {
	margin-top: 14px;
	padding: 2px;
	border: 2px solid black;
	width: 910px;
	background-color: rgb(73, 255, 0, .7);
	text-align: center;

}







/***************************   TOP-LEVEL MENU   **********************************

*********************************************************************************/

.mentioned {
  list-style-type: none;
  padding: 0px;
  margin: auto;
  margin-left: 0px;
  overflow: hidden;
  width: 910px;
  display: flex-wrap;
  align-items: center;
}



td {
	float: left;
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
}

td, a {
	
	margin: 12px;
	display: inline-block;
  	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
  	text-align: center;
  	padding: 7px;
  	text-decoration: none;
  	background-color: rgb(73, 255, 0, .4);
  	border: 2px ridge rgb(255, 255, 80, .9) ;
}

a {
	margin:3px;
}

#corgi-icon{
	height: 300px;
	width:  1300px;
	
}




#entre-graph {
	background-color: rgb(255, 255, 80, .7) ;
}




/*#chart {

	display: block;
	flex-wrap: wrap;
	border: 3px solid white;
	background-color: rgb(73, 255, 0, .3);
	filter: hue-rotate(90deg);
	padding: 37px;
	width: 900px;
	margin: 20px;
}*/



.dotchart {

display: block;
margin-left:auto;
margin-right:auto;
width:70%;
background-color: rgb(73, 255, 0, .4); 
height: 479px;

}

#chart {
	margin: auto;
	margin-left: 0px;
	margin-bottom:10px;
	width: 910px;
	height: 180px;
	border: 4px double rgb(255, 255, 80, .9);
	background-color: rgb(255, 255,128, .4);
}

svg {



}


/*

***************************   CRUD INTERFACE CONTAINER   **********************************

*******************************************************************************************
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/


.container {
	display: inline-flex;
	padding: 0px;
	border: 1px solid black;
	width: 910px;
	background-color: lightgreen;
	margin: 21px;


}



/*
*********************   FORM STYLING ******************************************************
	TODO: validation checking styling 
*/
#container-header:{
	margin: 7px ;
}
form.form {
}

div.form {

}

.container {
	display:flex;
margin-left:0px;
height: 200px;


}

.container-container {

display: flex;
align-items: center;
justify-content: flex-start;

}

#button-container {
	justify-content: space-between;
}

label, input {
    margin-bottom: 20px;
    width: 125px;
}

input {
	margin-right: 30px ;
}


label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;

}

button.button {
	margin-right: 17px;
	
}

#text-fields {
	display: flex;
}

#statusLabel {
	padding: 12px ;
}
/*
************************   TABLE STYLING   *********************************************** 
*/

/*th {
	width: 120px;
}*/
table {
	width: 400px;
	margin-left: 30px;
}

table,
td {
    border: 1px solid #333;

}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

